<ion-view title="Lista de Atletas" id="page3" onload="mostrar()">
  <ion-content padding="true" class="has-header">
    <form id="listaDeAtletas-form8" class="list">
      <label class="item item-input" id="listaDeAtletas-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquise o atleta">
      </label>
    </form>
      <button class="button button-dark button-block" onclick="masb_mostrar()">Listar atletas</button>
      
      <div id="listaDeAtletas-container3"s></div>
      
      
  </ion-content>
</ion-view>